body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  background-color: #ffffff;
  padding: 20px;
  border-color: #000;
  border-width: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 450px;
  text-align: center;
}
.login-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.login-input {
  display: flex;
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
}
.login-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
  width: 30%;
  .enter {
    text-decoration: none;
  }
}

.login-button:hover {
  background-color: #0056b3;
}

.forgot-password {
  font-size: 12px;
  color: #007bff;
}
